<section>
    <h1>Librería Capibara</h1>
</section>
<section>
    <h2>Sobre nosotros</h2>
    <p>Bienvenidos a nuestra libería, donde podrás consultar los tomos disponibles en nuestra tienda en línea</p>
</section>
<section>
    <h2>Nuestros productos</h2>
    <p>Aquí está la lista de nuestros libros disponibles</p>
    <div>
        <form action="" method="post">
        <label for="Title">Título</label>
        <input id="inputTitle" type="text" name="Título">
        <label for="Desciption">Descripción</label>
        <input id="inputDescription" type="text" name="Descripción">
        <label for="Price">Precio</label>
        <input id="inputPrice" type="number" name="Precio">
        <label for="Code">Código</label>
        <input id="inputCode" type="text" name=Código"">
        <label for="Stock">Stock</label>
        <input id="inputStock" type="number" name="Stock">
        <label for="Category">Categoría</label>
        <input id="inputCategory" type="text" name="Categoría">
        <input id ="newProduct" type="submit" value="Agregar Producto">
        <button type="submit" id="newProduct">Agregar Producto</button>
        <button type="reset">Vaciar carrito</button>
    </form>
    <div id="addProducts"></div>
    </div>
</section>
<section>
    <h2></h2>
</section>
<script src="/socket.io/socket.io.js"></script>
<script src="../public/js/index.js"></script>