<h1>Inicio de sesión</h1>
<p>Ingresa tus datos para poder comprar productos</p>
<form action="/auth/login" method="post">
    <input type="text" name="email" placeholder="email">
    <input type="text" name="pass" placeholder="pass">
</form>
<a href="/auth/register">¿No tienen una cuenta? ¡Registrate!</a>