<section>
    <h1>Nuestros Produtos</h1>
</section>
<section>
    <p>Les presentamos nuestra lista de productos, donde incluímos libros con categorías para todos los gustos:</p>
</section>
<section>
    
    <div>
        
    
    <div id="addProducts"></div>
    </div>
</section>
<script src="/socket.io/socket.io.js"></script>
<script src="../public/js/index.js"></script>