<form action="/auth/register" method="post">
    <input type="text" name="firstname" placeholder="firstname">
    <input type="text" name="lastname" placeholder="lastname">
    <input type="text" name="email" placeholder="pass">
    <input type="text" name="pass" placeholder="pass">
    <input type="submit" value="¡Registrate!">
</form>