<section>
    <h1>Ingresa a tu cuenta</h1>
</section>
<section>
    <h2>Inicio de sesión</h2>
    <p>Ingresa tu correo y contraseña para poder realizar una compra</p>
</section>
<section>
    <div>
        <form action="" method="post">
        <label for="email">Usuario</label>
        <input id="inputemail" type="text" name="email">
        <label for="password">contraseña</label>
        <input id="inputpassword" type="text" name="password">
        <button type="submit" id="newProduct">Ingresar</button>
        <button type="reset">Borrar datos</button>
    </form>
    <div id="user"></div>
    </div>
</section>
<section>
    <h2></h2>
</section>
<script src="/socket.io/socket.io.js"></script>
<script src="../public/js/user.js"></script>